#Data Files
*.gz
*.pickle
*.zip

35_TV-ScriptGeneration/save.data-00000-of-00001

35_TV-ScriptGeneration/save.data-00000-of-00001

*.data-00000-of-00001

*.data-00000-of-00001

35_TV-ScriptGeneration/save.data-00000-of-00001

35_TV-ScriptGeneration/save.data-00000-of-00001
